body{
    background-color: darkblue;
}
.navbar, .body{
    border: 1px solid red;
}

.body{
    display: flex;
    margin-top: 20px;

}

.con{
    background-color: cadetblue;
    flex: 1;
}
.con2{
    margin: 0 20px;
}